{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
               

                <!-- Begin Page Content -->
                <div class="container-fluid">

                   
                    <h1>Détails de la catégorie</h1>
                    <p>Nom : {{ user.nom }}</p>
                    <p>Prénom : {{ user.prenom }}</p>

                  

                </div>
                <!-- /.container-fluid -->
          
  
{% endblock %}
